.screen-header {
  position: fixed;
  left: 0;
  top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  box-sizing: border-box;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 700;
}
.screen-header__icons span {
  margin-left: 20px;
}
